<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('components/head') %>
</head>
<body>
    <%- include('components/menu') %>

	<!-- First Div -->
    <%- include('components/div-1') %>

	<!-- Newsletter -->

	<%- include('components/newsletter') %>

	<!-- Second Div -->
	<%- include('components/div-2') %>

	<!-- Third Div -->

	<%- include('components/div-3') %>

	<!-- Fourth Div -->

	<%- include('components/div-4') %>

	<!-- FAQ -->

	<%- include('components/faq') %>

	<!-- Instructions -->
	<%- include('components/instructions') %>
	
	<!-- Footer -->

	<%- include('components/footer') %>

</body>
</html>